[Unit]
Description=Kickoff Minikube Cluster
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/minikube start --driver=docker --container-runtime=containerd
RemainAfterExit=true
ExecStop=/usr/bin/minikube stop
StandardOutput=journal
User=lucien
Group=lucien

[Install]
WantedBy=multi-user.target
